.header {
  span {
    display: flex;
    justify-content: space-between;
    
    .actions {
      .material-icons {
        &:hover {
          cursor: pointer;
        }
      }
    }
  }

  .popup-content {
    width: fit-content !important;
  }
}